{% extends "frame.twig" %}
{% block content %}
    {% autoescape true %}
    <ul>
        <li><a href="/quiz/questions">問題一覧を見る</a></li>
        <li><a href="/quiz/quizzes">クイズ一覧を見る</a></li>
    </ul>
    {% endautoescape %}
{% endblock %}