{% extends "frame.twig" %}
{% block content %}
    {% autoescape true %}
        <table>
            <tr>
                <td>
                    <a href="/quiz/questions">問題一覧を見る</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="/quiz/quizzes">クイズ一覧を見る</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a href="/quiz/quizzes">クイズに挑戦する</a>
                </td>
                <td></td>
            </tr>
        </table>
    {% endautoescape %}
{% endblock %}